.mm {

  &__header {
    font-size: 24px;
  }

  &__container {
    border: 6px solid black;
    display: inline-block;

    &--no-match {
      border-color: red;
    }
  }

  &__row {
    display: flex;
    margin-top: 3px;

    &--bottom-row {
      margin-bottom: 3px;
    }
  }

  &__square {
    background-color: blue;
    border: 5px solid black;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100px;
    margin: 0 3px 0 0;

    &:hover {
      background-color: orange;
    }

    &--open {
      background-color: red;

      &:hover {
        background-color: red;
      }
    }

    &--matched {
      background-color: purple;

      &:hover {
        background-color: purple;
      }
    }

    &:first-of-type {
      margin-left: 3px;
    }
  }

  &__reset {
    display: block;
    margin-top: 10px;
  }

  &__timer-label {
    margin-top: 10px;
    display: none;

    &--visible {
      display: block;
    }
  }
}
